{% extends 'base.html' %}
{% block content %}
{{ static }}
<title> {% block title %} Blog {% endblock %} </title>
<div class="container" style="margin-top:25px">
    <hr style="background-color:green; margin-top:10px;" size="5">
   <div class="row" >
     <div class="col-lg-1">
     </div>
     <div class="col-lg-11">
       <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for post in posts %}
        <div class="col">
          <div class="card h-100">
            <img src="{{ post.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.text|truncatewords:"12" }}</p>
            </div>
              <div class="d-grid gap-2 col-5 mx-auto" style="margin-bottom:10px;">
                <a href="{% url 'post' slug=post.slug %}" class="btn btn-primary" type="button">Подробнее</a>
              </div>
            <div class="card-footer">
              <small class="text-muted">{{ post.pub_date | date:"F j,Y" }}</small>
              <small class="text-muted">Гадельшин Артур </small>
            </div>
          </div>
        </div>
            {% endfor %}
      </div>
     </div>
</div>
{% endblock content %}