{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{{ static }}
 <style>
            .comments ul ul {
            margin-left: 60px;
            }

            .comments .comment {
            padding: 6px;
            }
            .comments .comment:hover {
            background: #eee;
            }
        </style>
<title> {% block title %} Post {% endblock %} </title>
<div class="container" style="margin-top:25px">
    <hr style="background-color:green; margin-top:10px;" size="5">
   <div class="row" >
     <div class="col-lg-1">
     </div>
     <div class="col-lg-11">
         <div class="card mb-3">
            <img src="{{ post.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.text }}.</p>
                <p class="card-text"><small class="text-muted">{{ post.pub_date | date:"F j,Y" }}</small></p>
            </div>
         </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h5>Комментарий</h5>
                        </div>
                         {% if request.user.is_authenticated %}
                        <div class="panel-body comments">
                            <form action="" method="POST">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <input style="margin-top:20px" type="submit" class="btn btn-primary" value="Отправить">
                            </form>
                            {% endif %}
                            <br>
                            {% if not request.user.is_authenticated %}
                                <h5 style="color:red">Чтобы оставить комментарий Авторизируйтесь или пройдите Регистрацию</h5>
                            {% endif %}
                            <div class="clearfix"></div>
                            <hr style="background-color:green; margin-top:10px;" size="5">
                            {% for comment in post.comment_set.all %}
                            <ul class="media-list">
                                <div class="comment">
                                    <div class="media-body">
                                        <strong class="text-success">{{ comment.author.first_name }} {{ comment.author.last_name }}</strong>
                                        <span class="text-muted">
                                            <small class="text-muted">{{ comment.data_created | date:"F j,Y" }}</small>
                                        </span>
                                        <p>
                                            {{ comment.text }}
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </ul>
                            {% empty %}
                            <p>Комментариев еще нет, будь первым!</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
   </div>
</div>

{% endblock content %}